fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
passlib[argon2]
argon2-cffi
python-multipart
joblib
numpy
pandas
scikit-learn==1.5.2
fastapi-mail
pyotp
